# Swift Package Manager
.build/
build/
.swiftpm/
Package.resolved

# Release artifacts
Build/
docs/*.dmg

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor artifacts
*.swp
*.swo
*~
.atelier
